* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.72222;
    color: #34495e;
    margin: 0;
    background-color: #ffffff;
}

.navbar {
    position: relative;
    font-size: 16px;
    min-height: 53px;
    border: none;
    border-radius: 0px;
    background-color: #34495e;
    display: block;
    padding: 0;
}

.logo {
    float: left;
}

.navbar-brand {
    color: #ffffff;
    font-size: 20px;
    line-height: 1.042;
    height: 53px;
    font-weight: 700;
    padding: 14px 21px;
    float: left;
}

.nav-link {
    color: white;
}

.command-bar {
    float: left;
    list-style: none;
    padding-left: 0;
    margin: 0;
    height: 53px;
}

.command-bar > li > a {
    font-size: 16px;
    padding: 15px 21px;
    line-height: 23px;
    font-weight: 700;
}

.command-bar > li {
    float: left;
    position: relative;
    display: block;
    margin-left: 7px;
    margin-right: 7px;
}

a {
    text-decoration: none;
    transition: .25s;
    background-color: transparent;
}

a:hover {
    color:rgb(41, 101, 175);
}

.dropdown:hover {
    color:rgb(55, 141, 246);
}

.btn {
    border: none;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    border-radius: 4px;
    padding: 10px 15px;
    margin-top: 6px;
    margin-bottom: 6px;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
    transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}

.legend {
    position: relative;
    background-color: rgb(42, 40, 40);
    color: rgb(0, 142, 0);
    height: 70px;
    display: block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-color: black;
    border-width: medium;
    border-style: solid;
}

.legend-items {
    float: left;
    padding-top: 25px;
    padding-left: 11px;
    padding-right: 11px;
}

b {
    color: rgb(175, 216, 248);
}

.visCount {
    color: rgba(0, 190, 218, 0.75);
}

.pathCount {
    color: rgb(255, 254, 106);
}

#algo-name {
    width: 350px;
}

#algo-results {
    padding-left: 120px;
}

td {
    width: 25px;
    height: 25px;
    padding: 0;
    box-sizing: border-box;
}

.unvisited {
    border: 1px solid rgb(175, 216, 248);
    background-color: white;
}

#board {
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.weight {
    border: 1px solid rgb(175, 216, 248);
    animation-name: specialAnimation;
    background-image: url('./res/weight.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes wallAnimation {
    0% {
        transform: scale(.3);
        background-color: rgb(12, 53, 71);
    }
    50% {
        transform: scale(1.2);
        background-color: rgb(12, 53, 71);
    }
    100% {
        transform: scale(1.0);
        background-color: rgb(12, 53, 71);
    }
}

.wall {
    animation-name: wallAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes specialAnimation {
    0% {
        transform: scale(.3);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.0);
    }
}

.start {
    background-image: url('./res/start.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: specialAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.startTransparent {
    background-image: url('./res/start.png');
    background-color: rgb(255, 254, 106);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: specialAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.startVisited {
    background-image: url('./res/start.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.end {
    animation-name: specialAnimation;
    background-image: url('./res/stop.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.endTransparent {
    animation-name: specialAnimation;
    background-image: url('./res/stop.png');
    background-color: rgb(255, 254, 106);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.endVisited {
    background-image: url('./res/stop.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.visited {
    border: 1px solid rgb(175, 216, 248);
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes visitedAnimation {
    0% {
        transform: scale(0.3);
        background-color: rgba(0, 0, 66, 0.75);
        border-radius: 100%;
    }
    50% {
        background-color: rgba(17, 104, 217, 0.75);
    }
    75% {
        transform: scale(1.2);
        background-color: rgba(0, 217, 159, 0.75);
    }
    100% {
        transform: scale(1);
        background-color: rgba(0, 190, 218, 0.75);
    }
}

.shortest-path {
    background-color: rgb(255, 254, 106);
    animation-name: triangletwo;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes triangletwo {
    0% {
        transform: scale(0.6);
        background-color: rgb(255, 254, 106);
    }
    50% {
        transform: scale(1.2);
        background-color: rgb(255, 254, 106);
    }
    100% {
        transform: scale(1);
        background-color: rgb(255, 254, 106);
    }
}